@model Alarba.Models.EventTables

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventTables</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.evCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.evCode)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventDate)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventVenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventVenue)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventfee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventfee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
